.Country {
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Country img {
  border-radius: 15px;
}

.Country h3 {
  text-align: center;
}

.visitedBtn {
    background-color: orangered;
}